body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.moon{
  /* border: 1px solid white; */
 display: flex;
  width: 150px;
  height: 150px;
  border-radius:50%;
position: absolute;
top: 200px;
box-shadow: 20px 10px 10px whitesmoke;

}


