<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./AIT.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header >
        <div>
            <img src="../../Decoder/Naveen/AIT-white.jpg" alt="Download">
        </div>
        <nav >
            <a href="./Home.html" >Home</a>
            <a href="./About.html" >About</a>
            <a href="./Project.html" >Project</a>
            <a href="./Vlog.html" >Vlog</a>
            <a href="./Application.html">Application</a>
        </nav>
        </header>
        

        <section class="banner_imag">
       <img id="banner_img" src="https://th.bing.com/th/id/OIP.qOpXEEi9gwtntb4may9VRgHaEK?w=326&h=183&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="banner_img">
        </section>
        
    <h2>POPULAR CAREER ORIENTED COURSES</h2>
 <section>
    <div class="content">
        <div class="box">
            <div class="photo">
                <div><img class="logo" src="./java logo.webp" alt="java_logo"></div>
                <div>JAVA FULLSTACK COURSE</div>
            </div>
            <div>java full stack development is widely popular for building powerful, scalable, and enterprice level application its combination...</div>
            <div class="Reviwes">
                <!-- <ins>________________________________________</ins> -->
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i>5.0(3055)</span>
            </div>
        </div>


        <div class="box">
            <div class="photo" id="color_1">
                <div><img class="logo" src="./python logo.webp" alt="logo"></div>
                <div>PYTHON FULLSTACK COURSE</div>
            </div>
            <div>python full stack course is widely popular for building powerful, scalable, and enterprice level application its combination...</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i>  5.0(3055)</span>
            </div>
        </div>


        <div class="box">
            <div class="photo" id="color_2">
                <div><img class="logo" src="./data science logo.webp" alt="logo"></div>
                <div>DATA SCIENCE COURSE</div>
            </div>
            <div>Best data science course offered by AchieversIT, such as hands-on projects, industry-relevant curriculum, and expert instructors.</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 5.0(3055)</span>
            </div>
        </div>

<div class="box">
            <div class="photo" id="color_3">
                <div><img class="logo" src="./data analytics logo.jpg" alt="logo"></div>
                <div>DATA  ANALYSTICS COURSE</div>
            </div>
            <div>Best data science course offered by AchieversIT, such as hands-on projects, industry-relevant curriculum, and expert instructors.</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i>5.0(3055)</span>
            </div>
        </div>
        

        <div class="box">
            <div class="photo" >
                <div><img class="logo" src="./MEAN Stack logo.jpg" alt="logo"></div>
                <div>MEAN STACK DEVELOPEMENT COURSE</div>
            </div>
            <div>"MEAN Stack Front To Back". In this course we will build an in depth full stack social network application using Angular, Express, React, Redux and MongoDB along with ES6+. </div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i>5.0(3055)</span>
            </div>
        </div>
        


        <div class="box">
            <div class="photo" id="color_1">
                <div><img class="logo" src="./MEAN Stack logo.jpg" alt="logo"></div>
                <div>MEAN STACK DEVELOPEMENT COURSE</div>
            </div>
            <div>"MERN Stack Front To Back". In this course we will build an in depth full stack social network application using Node.js, Express, React, Redux and MongoDB along with ES6+.</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i>5.0(3055)</span>
            </div>
        </div>
    
    
        <div class="box">
            <div class="photo"  id="color_2">
                <div><img class="logo" src="./Web Development logo.jpeg" alt="logo"></div>
                <div>Web Development Course</div>
            </div>
            <div>We are one of the top web training institutes in Bangalore offering advanced web development courses to our students. Students will get Trained from Professional Experts of Web Development</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i>5.0(3055)</span>
            </div>
        </div>
    
    

        <div class="box">
            <div class="photo" id="color_3">
                <div><img class="logo" src="./Digital Marketing logo.png" alt="logo"></div>
                <div>Digital Marketing</div>
            </div>
            <div>The Digital Marketing program from Achieversit will enable you to understand digital customer behavior, build digital marketing strategies, and identify in-demand metrics to effectively measure</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 5.0(3055)</span>
            </div>
        </div>
    </div>

    <h2>TRANDING COURSE</h2>
<div class="content">
    <div class="box">
            <div class="photo" >
                <div><img class="logo" src="./Angular Development logo.png" alt="logo"></div>
                <div>Angular Development Course</div>
            </div>
            <div>Angular is popular for making dynamic applications and its information official and reliance infusion includes altogether lessen the measure of code dat should be composed.</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 5.0(3055)</span>
            </div>
        </div>


        <div class="box">
            <div class="photo" id="color_1">
                <div><img class="logo" src="./React JS Course logo.png" alt="logo"></div>
                <div>React JS Course  </div>
            </div>
            <div>Achievers IT React JS Certification Course in Bangalore. We taught you in detailed explanations of what React JS is, why we use React JS, What is JSX, Unidirectional data flow,</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 5.0(3055)</span>
            </div>
        </div>


          <div class="box">
            <div class="photo" id="color_2">
                <div><img class="logo" src="./MEAN Stack logo.jpg" alt="logo"></div>
                <div>MEAN Stack Development Course </div>
            </div>
            <div>"MEAN Stack Front To Back". In this course we will build an in depth full stack social network application using Angular, Express, React, Redux and MongoDB along with ES6+.</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 5.0(3055)</span>
            </div>
        </div>

        <div class="box">
            <div class="photo" id="color_3">
                <div><img class="logo" src="./MEAN Stack logo.jpg" alt="logo"></div>
                <div>MERN Stack Development Course</div>
            </div>
            <div>"MEAN Stack Front To Back". In this course we will build an in depth full stack social network application using Angular, Express, React, Redux and MongoDB along with ES6+.</div>
            <div class="Reviwes">
               <div><i>Reviwes:</i></div>
              <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i>  5.0(3055)</span>
            </div>
        </div>
        </div>
 </section>
        
</body>
</html>