.center{
    display: flex;
    justify-content:center;   
}
.border{
    border: 4px solid black;
    color: blue; 
    background-color: skyblue;
    width: 20%;
    }
   .clg,.photo{
    display: flex;
    justify-content: center;
    text-align: center;
    }
    /* .photo{
        display: flex;
        justify-content: center;
        align-items: center;
    }  */
   .img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
   }
   .id,.name,.branch{
    text-align: center;
   }

   .border{
    border: 2px solid b;
   }
   