*{
    margin:0%;
}
 
 header{
            background-color: black;
            display: flex; 
            justify-content: space-between;
        }
        
        nav{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        a{
            color: white;
            width: 20%;
            font-weight: bold;
            text-decoration: none;
        }
       .banner_imag {
        margin-top: 20px;
       
       }
       #banner_img{
        width: 1500px;
        height:200px;
       }
       /* .java{
        background-color: aquamarine;
        display: flex;
       } */
       /* .courses{
        font-weight: bold;
        font-size: large;
        margin: 10%;
    text-align: center;
    color: white;
       } */
       .side_by_side{
        display: flex;
        /* justify-content: space-around; */
        flex-wrap: ;
        margin-top: 10px;
       }
      .border{
        border: 2px solid white;
        width: 300px;
        /* padding: 20px; */
       align-items: center;
       justify-content: center;
       }
       .header{
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        color: white;
        background-color:  palevioletred;
       padding: 5px;
       height: 80px;
       }
       p,.Reviwes{
        height: 60px;
       }

       .star{
        display: flex;
        justify-content: space-between;
        align-items: center;
       }
       /* .header:nth-child(eve){
        background-color: blue;
       } */
.java_logo{
    width: 70px;
}
       
       
            
        