
 header{
            background-color: black;
            display: flex; 
            justify-content: space-between;
        }
        div{
            width: 20%;
        }
        nav{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        a{
            color: white;
            width: 20%;
            font-weight: bold;
            text-decoration: none;
        }